/Fundamentos/HolaMundo/nbproject/private/
/Fundamentos/HolaMundo/build/
/Fundamentos/Variables/nbproject/private/
/Fundamentos/Variables/build/
/Fundamentos/Concatenacion/nbproject/private/
/Fundamentos/Concatenacion/build/
/Fundamentos/CaracteresEspeciales/nbproject/private/
/Fundamentos/CaracteresEspeciales/build/
/Fundamentos/ClaseScanner/nbproject/private/
/Fundamentos/ClaseScanner/build/
/Fundamentos/ClaseScanner/dist/
/Fundamentos/TiposPrimitivos/nbproject/private/
